<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Helping the Lone Operator in the Vast Frontier</title>

        <!-- Import Bootstrap Library -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- css file -->
        <link rel="stylesheet" type="text/css" href="styles/css/index.css">
    </head>

    <body>
        <!-- Dynamic variables from the server -->
        <%- variable %>

        <!-- Bundlejs would attach to div root -->
        <div id="root"></div> 
        <%- bundlejs %>
    </body>

</html>
