.jumbotron {
	background-color: #000000; /* Orange */
    color: #ffffff;
    margin: 0px;
    height: 120px;
    padding: 5px 0px 0px 0px;
}

.container-fluid {
    padding: 5px 0px 25px 25px;
    margin: 0px;
}

.bigMapContainer {
	height: 1100px;
}

.grey-container {
	background-color: rgb(234, 234, 232);
}

.smallMapContainer {
	height: 1000px;
}

#map {
	height: 100%;
}

.stepTitle {
	padding: 0px;
}

.wait {
	cursor: wait;
}

.withoutBorder {
	border-style: none;
}

#loader {
	border: 5px solid rgb(167, 175, 188);
	border-radius: 50%;
	border-top: 5px solid rgb(2, 2, 2);
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.btn-responsive {
	white-space: normal !important;
    word-wrap: break-word;
}