.jumbotron {
	background-color: #000000; /* Orange */
    color: #ffffff;
    padding: 80px 20px;
    margin: 0px;
}

.container-fluid {
    padding: 20px 30px;
    margin: 0px;
}

.bigMapContainer {
	height: 750px;
}

.grey-container {
	background-color: rgb(234, 234, 232);
}

.smallMapContainer {
	height: 500px;
}

#map {
	height: 100%;
}

.stepTitle {
	padding: 40px;
}

.wait {
	cursor: wait;
}