.jumbotron {
	background-color: #000000; /* Orange */
    color: #ffffff;
    margin: 0px;
    height: 120px;
    padding: 5px 0px 0px 0px;
}

.container-fluid {
    padding: 5px 0px 20px 20px;
    margin: 0px;
}

.bigMapContainer {
	height: 1100px;
}

.grey-container {
	background-color: rgb(234, 234, 232);
}

.smallMapContainer {
	height: 1000px;
}

#map {
	height: 100%;
}

.stepTitle {
	padding: 0px;
}

.wait {
	cursor: wait;
}

.withoutBorder {
	border-style: none;
}